name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: booking_db_test
          POSTGRES_USER: booking
          POSTGRES_PASSWORD: booking_pass
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:7-alpine
        ports: ['6379:6379']
      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports: ['5672:5672', '15672:15672']

    env:
      NODE_ENV: test
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: booking_db_test
      POSTGRES_USER: booking
      POSTGRES_PASSWORD: booking_pass
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://localhost:5672
      JWT_ACCESS_SECRET: test_access
      JWT_REFRESH_SECRET: test_refresh

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build TypeScript
        run: npm run build

      - name: Run unit tests
        run: npm test
